#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  margin-left: 10px;
  line-height: 250%;

}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .compose {
  background-color: #04c494;
  border-radius: 5px;
  padding: 1em;
  margin-right: 2em;
  margin-top: 0.8em;
}

#nav-bar .compose:hover {
  background-color: #068353
}