.tweet-article {
  margin: 2em 2em;
  border-color: rgba(88, 88, 88, 0.3);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

article:hover {
  border-color: rgba(88, 88, 88, 0.7);
}

article:hover .tweet-header{
  opacity: 1;
}

article:hover .footer-img{
  display: inline;
}

.tweet-img {
  border-style: solid;
  border-color: rgba(240, 240, 240, 0.3);
  border-width: 0.5px;
  border-radius: 5px;
  margin: 0.25em 0.25em;
}

.tweet-name {
  padding-left: 0.3em;
  margin-top: 0.25em;
  font-size: 1.5em;
}

.tweet-username {
  color: rgba(180, 180, 180, 1);
  margin-top: 0.75em;
}

.tweet-header {
  background-color: #f2f2f2;
  padding: 0.25em;
  border-radius: 7px;
}

.tweet-body {
  margin-top: 1em;
  padding: 0.75em;
  font-size: 1.15em;
}

#submit-form {
  position: relative;
}

section span.text-error {
  color: red
}

section span.invalid-tweet-error {
  color: red;
  position: absolute;
  display: none;
  width: 100%;
  padding: 0;
  top: 120px;
}

.tweet-rule {
  border-color: rgba(240, 240, 240, 0.3);
  width: 100%;
}

.tweet-footer {
  padding: 0.25em 0.75em 1em 0.75em;
  color: rgb(66, 94, 99);
  height: 40px;
}

.footer-text {
  padding-bottom: 0.5em;
  padding-top: 0.25em;
  margin: 0;
}

.footer-img {
  display: none;
  padding: 0;
  margin: 0;
}

.faded {
  opacity: 0.6;
}
