<head>
    <title>TinyApp</title>
    <% include partials/_header %>
  </head>
<form method="POST">
    <div>
      <label for="user">Username:</label>
      <input name="email" type="email" id="user">
    </div>
    <div>
      <label for="password">Password:</label>
      <input name="password" type="password" id="password" >
    </div>
    <div>
      <button>Register!</button>
  </form>