<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Schooodle</title>

  <% include partials/_head.ejs %>
</head>

<body class="body">
  <% include partials/_nav_bar.ejs %>
  <main class="">
    <div class="row col-12">
      <div class="col-1"></div>
      <div class="aLittleBitDown andWeWantedBlue weWantItRounded col-10">
        <h1>About Schooodlers!</h1>
        
        <div class="card border-info mb-3" style="max-width: 18rem;">
          <div class="card-header">About Schooodle</div>
          <div class="card-body text-info">
            <h5 class="card-title"></h5>
            <p class="card-text">Schooodle was created as a midterm project by:</p>
            <img class="img-thumbnail rounded float-left" src="https://avatars0.githubusercontent.com/u/39812331?s=460&v=4" alt="Spencer Shuped">
            <img class="img-thumbnail rounded float-left" src="https://avatars1.githubusercontent.com/u/40681151?s=460&v=4" alt="Kanwal Gupta">
            <img class="img-thumbnail rounded float-left" src="https://avatars0.githubusercontent.com/u/260859?s=460&v=4" alt="Sebastian Mantilla">
          </div>
      </div>
      <div class="col-1"></div>
    </div>
  </main>

</body>

</html>
