<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schooodle Price</title>

  <% include partials/_head.ejs %>
  <link rel="stylesheet" href="/styles/pricing.css" type="text/css" />
</head>

<body class="body">
  <% include partials/_nav_bar.ejs %>
  <main class="">
    <div class="row col-12">
      <div class="col-1"></div>
      <div class="aLittleBitDown andWeWantedBlue weWantItRounded col-10">
        <h1>Schooodler Price</h1>
        <section class="pricing py-5">
          <div class="container">
            <div class="row">
              <!-- Free Tier -->
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                    <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                    <hr>
                    <ul class="fa-ul">
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Schooodles</li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Schooodles</li>
                      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Reports</li>
                    </ul>
                    <a href="/" class="btn btn-block btn-primary text-uppercase">Get it</a>
                  </div>
                </div>
              </div>
              <!-- Plus Tier -->
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                    <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                    <hr>
                    <ul class="fa-ul">
                      <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Schooodles</li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Schooodles</li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                      <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Schooodles</li>
                      <li><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                    </ul>
                    <a href="/" class="btn btn-block btn-primary text-uppercase">Schooodle!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-1"></div>
    </div>
    <% include partials/_footer.ejs %>
  </main>

</body>

</html>
