<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      <fieldset>
        <legend>Login to the site</legend>
        <label for="username">Email: </label>
        <input type="text" class="field" name="username" id="username" value="" placeholder="Enter your username..." /><br />
        <label for="password">Password: </label>
        <input type="password" name="password" class="field" id="password" value="" placeholder="Enter your password..." /><br />
        <button type="submit">Login</button>
      </fieldset>
    </form>
  </body>
</html>
